.title {
    font-family: "Georama", sans-serif;
}

h1 {
    font-family: "Epilogue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

a code {
    color: $brand;
    text-decoration: underline;
}

a {
    font-weight: 600;
}

h1 a {
    font-weight: unset;
    color: unset;
}