---
const today = new Date();
---

<footer class="flex flex-col justify-center items-center py-4">
    <p class="text-base text-zinc-500 text-center">I collect aggregate and anonymous analytics.<br/>For the sake of transparency, you can see the dashboard <a href="https://blog-serchinastico.pirsch.io">here</a>.</p>
    <p class="text-base text-zinc-500">&copy; {today.getFullYear()} Serchinastico. All rights reserved.</p>
</footer>
